.buttons {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 80px;
}

.button {
  padding: 14px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  color: white;
  background: rgb(131, 131, 215);
}
