@import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto:wght@300&display=swap");

.about-style {
  font-family: Roboto, sans-serif;
}

.about-p {
  max-width: 950px;
  margin: 0 auto;
}
