@import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto:wght@300&display=swap");

.flex-article {
  padding-top: 24px;
  font-family: Roboto, sans-serif;
}

.flex-article p {
  font-size: 1.25rem;
  font-weight: 500;
}

.data-box {
  padding: 40px;
  background: white;
}
