/* .card-container {
  max-width: 230px !important;
  height: 150px !important;
  max-height: 200px !important;
} */

.card-link {
  text-decoration: none;
  color: black;
}
.card-link:hover {
  color: black;
}
.card-data {
  padding: 0 12px;
}

.card-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}
.card-price {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: 400;
}
